body {
    background: linear-gradient(90deg, rgba(250, 134, 50, 1) 2%, rgba(250, 170, 50, 0.9920343137254902) 34%);
}

.logo {
    margin-top: 30px;
    margin-bottom: 30px;
}

.bg-ground+h1 {
    font-weight: lighter;
    text-align: center;
    text-decoration: ;
    padding-bottom: 30px;
}
.headText {
    font-weight: lighter;
    text-align: center;
    text-decoration: ;
    padding-bottom: 40px;
}

.bg-ground {
    padding: 50px;
    padding-top: 10px;
    margin-top: 20px;
    border-radius: 10px;
    box-sizing: border-box;
    width: 90%;
    margin: 20px auto;
    height: 280%;
    background-color: white;
    text-align: center;
    line-height: 20px;
}

.images img {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 40%;
    margin: 20px, auto;
}

.text-box h1, li {
    
    font-weight: normal;
    text-align: left;
    list-style-type: disc;
    font-family: 'Arimo', sans-serif;
}

.text-box p {
    font-size: large;
    text-align: left !important;
    font-family: 'Arimo', sans-serif;
}

.buttonKnowledgeBase {
    font-family: 'Arimo', sans-serif;
    margin-top: 50px;
    text-align: center;
}

.buttonSupport {
    font-family: 'Arimo', sans-serif;
    margin-top: 50px;
    text-align: center;
}

div.class=text-box {
    text-indent: 50px;
}